/* ul li 블릿 기호 없애기
   바깥 안쪽 여백 0 
   테두리 둘러주기
   색깔은 #ccc

   



*/
/* tab-button
안쪽여백 : 상하 10 좌우 20 
글자색 gray
손모양
옆으로 배치 (플로트
ㄴㄴㄴ)
 */

ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.tab-button {
  padding: 10px 20px;
  color: gray;
  float: left;
  cursor: pointer;
  margin-right: -1px;
  margin-bottom: -1px;
}
/*  플로트를 가는순간 무조건 들어오는 해제 코드 */
ul.list::after {
  content: "";
  display: block;
  clear: both;
}
.orange {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
.tab-content {
  padding: 10px;
  display: none;
}
.show {
  display: block;
}
